<div class="page-header">
  <h3>Brewery #<%= @brewery.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">

      <dt>Brewery name</dt>
      <dd><%= @brewery.brewery_name %></dd>
      <dt>Brewery location</dt>
      <dd><%= @brewery.brewery_location %></dd>
      <dt>Brewery logo</dt>
      <dd><img src="<%= @brewery.image_url %>" height="100px"/></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/breweries" class="btn btn-primary">
        Back
      </a>
      <a href="/breweries/<%= @brewery.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_brewery/<%= @brewery.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
