<div class="page-header">
  <h1>
    Beers
    <a href="/beers/new" class="btn btn-lg btn-success">New Beer</a>
  </h1>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Beer name</th>
        <th>Brewery name</th>
        <th>Style</th>
        <th>Rating (1 - 10)</th>
        <th>ABV (%)</th>
        <th>Location consumed</th>
        <th>Tasting notes</th>

        <th>Actions</th>
      </tr>

      <% @beers.each do |beer| %>
      <tr>
        <td><%= beer.beer_name %></td>
        <td><%= Brewery.find_by(:id => beer.brewery_id).brewery_name %></td>
        <td><%= beer.style %></td>
        <td><%= beer.rating_1_10 %></td>
        <td><%= beer.abv %></td>
        <td><%= beer.location_consumed %></td>
        <td><%= beer.tasting_notes %></td>

        <td>
          <a href="/beers/<%= beer.id %>" class="btn btn-primary">Show</a>
          <a href="/beers/<%= beer.id %>/edit" class="btn btn-warning">Edit</a>
          <a href="/delete_beer/<%= beer.id %>" class="btn btn-danger" rel="nofollow">Delete</a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


<div class="page-header">
  <h1>
    Beer Recommendations
  </h1>
  <p>
    Based on the beers you have consumed, we recommend the following:
  </p>
</div>


<div class="row">
  <div class="col-md-12">
    <table class="table table-striped table-hover">
      <tr>
        <th>Beer name</th>
        <th>Brewery name</th>
        <th>Style</th>
        <th>ABV (%)</th>
      </tr>
    </table>
  </div>
</div>
