<div class="page-header">
  <h3>Beer #<%= @beer.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Beer name</dt>
      <dd><%= @beer.beer_name %></dd>

      <dt>Brewery name</dt>
      <dd><%= @beer.brewery_name %></dd>

      <dt>Style</dt>
      <dd><%= @beer.style %></dd>

      <dt>Rating (1 - 10)</dt>
      <dd><%= @beer.rating_1_10 %></dd>

      <dt>ABV (%)</dt>
      <dd><%= @beer.abv %></dd>

      <dt>Location consumed</dt>
      <dd><%= @beer.location_consumed %></dd>

      <dt>Tasting notes</dt>
      <dd><%= @beer.tasting_notes %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/beers" class="btn btn-primary">
        Back
      </a>
      <a href="/beers/<%= @beer.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_beer/<%= @beer.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
